body{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-right: 2px;
    background: rgb(79, 110, 247);
    height: 80px;
}
.logo{
    font-size: 1.5rem;
    font-family: sans-serif;
    margin-left: 20px;
}
.nav{
    height: auto;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}
.navlist ul li{
    display:inline-block;
    list-style: none;
    margin: 15px;
    padding: 10px;
    


}

.navlist ul li a{
    text-decoration: none;
    color: white;
}
.navlist ul li a:hover{
    color: red;
}
.main{
    width: 90%;
    margin: 5px;
    padding: 10px;
    text-align: center;
    align-items: center;
    
}
.main_content{
    width: 70%;
    height: auto;
    background: rgb(253, 252, 252);
    display: block;
    float: left;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}
.mini_content{
    width: 25%;
    height: auto;
    display: block;
    float: right;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

  }
  .card img{
    margin:  10px;
  }
  .card1 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container1 {
    padding: 2px;
  }
    /* On mouse-over, add a deeper shadow */
  .card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container1 {
    padding: 2px;
  }
  footer {
    width: 100%;
    position: fixed;
    margin-top: 2%;
    height: 50px;
    text-align: center;
    font-size: 0.8em;
    bottom: 0;
    background: rgb(226, 203, 203);
   
  }
  footer ul {
    list-style-type: none;
    text-align: center;
  }
  footer ul li {
    display: inline;
    margin: 0 15px;
  }
  footer ul li a{
      text-decoration: none;
  }